.abioka-messagepop {
  border:1px solid #999999;
  display:none;
  position:absolute;
  border: 1px solid rgb(227, 227, 227);
  line-height: 0;
  overflow: hidden;
  padding: 2px;
  margin: 0px;
  z-index: 2147483647;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.458824) 3px 3px 6px;
  opacity: 1;
  cursor: pointer;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, from(rgb(255, 255, 255)), color-stop(0.5, rgb(255, 255, 255)), to(rgb(237, 237, 237)));
}

.abioka-messagepop img {
  border: none;
  opacity: 1;
  position: static;
  max-height: none;
  max-width: none;
  left: auto;
  top: auto;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.abioka-messagepop-loading{
  width:34px;
  height:34px;
  padding:0 !important;
  cursor: wait;
}
